*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-color: aqua;
}
.screen{
    height: 9000px;
    width: 64%;
    background-color: azure;
    margin-left: 18%;
   
}
.navibar{
    height: 100px;
    width: 64%;
    background-color: antiquewhite;
   position: fixed;
}
.logo{
    height: 50px;
    width: 150px;
    font-weight: bolder;
    padding: 10px;
}
.box1{
    height: 400px;
    width: 100%;
    background-color: orange;
    
}
.box1 img{
    height: 150px;
    width: 150px;
    margin-top: 150px;
    margin-left: 30px;
    border-radius: 20px;
}





